%rest{
	margin:0;
	padding:0;
}
body{
	@extend %rest;
	line-height:1.666;
	font-family:"Microsoft Yahei",verdana;
	font-size:12px;
	color:#000;
	border:0;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
	@extend %rest;
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:bold;
	font-size:100%;
}
a{
	text-decoration:none;
}
%title{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
/*添加背景图片*/
$imge:'../image/pic_';
$images:1,11,2,3,4,5,6,7,8,9,10;
@for $i from 1 through length($images){
	.section:nth-child(#{$i}){
	background:url($imge+nth($images,$i)+'.jpg');

	}
}
.title{
	visibility:hidden;
	@extend %title;
}
h1{
	display:block;
	font-size:2em;
	-webkit-margin-before:0.67em;
	-webkit-margin-after:0.67em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	font-weight:bold;
}
.fp-tableCell{
margin:auto;
	position:absolute;
	left:0;
	right:0;
}
/*nav的描述*/

.navigation{
	top:50%;
	z-index:30;
	right:30px;
	position:fixed;
	ul{
	margin-top:-107px;
	}
}
section ,nav{
	@extend %rest;
	display:block;
	border:0;
}
.navigation{
	.item{
	text-align:right;
	position:relative;
	line-height:normal;
	margin:10px 0;
	padding-right:25px;
	cursor:pointer;
	width:62px;
	}
	a{
	text-decoration:none;
	color:#8f9da4;
	}
}
%imgs{
	background-image:url(../image/dot.png);
	background-repeat:no-repeat;
}
.navigation{
	.item-active{
	background-position:0 -16px;
	.flag{
		@extend %imgs;
		.ico{
		position:absolute;
		left:5px;
		top:5px;
		}
	}
	.ico{
	@extend %imgs;
	}
	}
	.item .flag{
	position:absolute;
	right:0;
	top:-2px;
	width:21px;
	height:21px;
	cursor:pointer;
	}
}
.ico-dot{
	background-position:0 0;
	width:11px;
	height:11px;
}
.navigation .item{
	.text{
	opacity:0;
	position:relative;
	top:1px;
	}
}
/*第一屏*/
/*大信*/
#section1.active #MailBig{
	animation:xinfeitop .8s ease  both alternate ; 
}
/*文字和框的移动*/
#section2.active .desc{
	animation:xinfeitop .8s ease  both alternate ; 
}
/*第三屏的动画*/
#section3.active .modern .pic3{
	animation:xinfeitop .8s ease  both alternate ;
}
#section3 .modern .pic3{
	animation:xinfeitops .5s ease  both alternate ;
}
#section3.active .desc{
	animation:xinfeitop .8s ease  both alternate ;
}
#section3 .desc{
	animation:xinfeitops .5s ease  both alternate ;
}
#section2 .desc{
	animation:xinfeitops .5s ease  both alternate ; 
}
#section1 #MailBig{
	animation:xinfeitops .8s ease .1s both alternate ; 
}
#section5.active .pic1{
	animation:xinfeitop .8s ease  both alternate ;
}
#section5.active .pic2{
	animation:xinfeitop .8s ease .4s both alternate ;
}
#section5.active .pic3{
	animation:xinfeitop .8s ease .2s both alternate ;
}
#section5 .pic1{
	animation:xinfeitops .5s ease .2s both alternate ;
}
#section5 .pic2{
	animation:xinfeitops .5s ease  both alternate ;
}
#section5 .pic3{
	animation:xinfeitops .5s ease .4s both alternate ;
}
#section7.active .modern .pic2{
	animation:xinfeitopd .8s cubic-bezier(0.79, 0.18, 0, 0.96) .3s both;
}
#section7 .modern .pic2{
	animation:xinfeitops .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section8.active .modern .pic1{
	animation:xinfeitop .8s cubic-bezier(0.79, 0.18, 0, 0.96) .1s both;
}
#section8 .modern .pic1{
	animation:xinfeitopu .8s cubic-bezier(0.79, 0.18, 0, 0.96)  both;
}
#section8.active .modern .pic3{
	animation:xinfeitop .8s cubic-bezier(0.79, 0.18, 0, 0.96) .3s both;
}
#section8 .modern .pic3{
	animation:xinfeitops .8s cubic-bezier(0.79, 0.18, 0, 0.96) .2s both;
}
#section8.active .modern .pic4{
	animation:xinfeitop .8s cubic-bezier(0.79, 0.18, 0, 0.96) .5s both;
}
#section8 .modern .pic4{
	animation:xinfeitops .8s cubic-bezier(0.79, 0.18, 0, 0.96) .2s both;
}
#section8.active .desc{
	animation:xinfeitopd .8s ease .7s both alternate ;
}
#section8 .desc{
	animation:xinfeitopu .5s ease  both alternate ;
}
#section9.active .modern .pic1{
	animation:xinfeitop .8s cubic-bezier(0.79, 0.18, 0, 0.96) .1s both;
}
#section9 .modern .pic1{
	animation:xinfeitopu .8s cubic-bezier(0.79, 0.18, 0, 0.96)  both;
}
#section9.active .modern .pic2{
	animation:feijitops .8s cubic-bezier(0.79, 0.18, 0, 0.96) .5s both;
}
#section9  .modern .pic2{
	animation:feijitop .8s cubic-bezier(0.79, 0.18, 0, 0.96)  both;
}
#section9.active .modern .pic3{
	animation:feijitops .8s cubic-bezier(0.79, 0.18, 0, 0.96) .5s both;
}
#section9 .modern .pic3{
	animation:feijitop .8s cubic-bezier(0.79, 0.18, 0, 0.96)  both;
}
#section9.active .modern .pic4{
	animation:feijitops .8s cubic-bezier(0.79, 0.18, 0, 0.96) .5s both;
}
#section9 .modern .pic4{
	animation:feijitop .8s cubic-bezier(0.79, 0.18, 0, 0.96)  both;
}
#section9.active .desc{
	animation:xinfeitopd .8s ease .3s both alternate ;
}
#section9 .desc{
	animation:xinfeitopu .5s ease  both alternate ;
}
#section11.active .modern .title-1{
	animation:xinfeitop .8s ease  both alternate ;
}
#section11 .modern .title-1{
	animation:xinfeitopu .5s ease .2s both alternate ;
}
#section11.active .modern .title-2{
	animation:xinfeitop .8s ease .3s both alternate ;
}
#section11 .modern .title-2{
	animation:xinfeitopu .5s ease  both alternate ;
}
#section11.active .modern .animation-scale{
	animation:xinfeitop .8s ease .6s both alternate ;
}
#section11 .modern .animation-scale{
	animation:xinfeitopu .5s ease  both alternate ;
}




@keyframes xinfeitop{/*下到上本*/
	0%{
	transform:translateY(400px);
	opacity:0;
	}
	100%{
	transform:translateY(0px);
	opacity:1;
	}
}
@keyframes xinfeitopu{/*本到下边*/
	0%{
	transform:translateY(0);
	opacity:1;
	}
	100%{
	transform:translateY(400px);
	opacity:0;
	}
}
@keyframes xinfeitops{/*本到上边*/
	0%{
	transform:translateY(0px);
	opacity:1;
	}
	100%{
	transform:translateY(-400px);
	opacity:0;
	}
}

@keyframes xinfeitopd{/*上边到下*/
	0%{
	transform:translateY(-400px);
	opacity:0;
	}
	100%{
	transform:translateY(0);
	opacity:1;
	}
}
@keyframes xinfeitopd{/*上边到下*/
	0%{
	transform:translateY(-400px);
	opacity:0;
	}
	100%{
	transform:translateY(0);
	opacity:1;
	}
}
@keyframes feijitop{/*本飞左上*/
	0%{
	transform:translate3d(0,0,0);
	}
	100%{
	transform:translate3d(-500px,-500px,0);
	}
}
@keyframes feijitops{/*下到本*/
	0%{
	transform:translate3d(500px,500px,0);
	}
	100%{
	transform:translate3d(0);
	}
}
@keyframes feijidown{/*左上飞本*/
	0%{
	transform:translate3d(-500px,-500px,0);
	}
	100%{
	transform:translate3d(0,0,0);
	}
}
@keyframes feijidownt{/*本到右下*/
	0%{
	transform:translate3d(0);
	}
	100%{
	transform:translate3d(500px,500px,0);
	}
}
@keyframes shanshuo1{/*闪烁*/
	0%{
	transform:scale(1.5,1.5);
	}
	25%{
	transform:scale(1,1);
	}
	50%{
	transform:scale(1.2,1.2);
	}
	100%{
	transform:scale(1,1);
	}
}
/*小信*/ 
#section1.active #MailSmall{
	animation:xinfeitop .8s ease .3s both alternate ; 
}
#section1 #MailSmall{
	animation:xinfeitops .8s ease  both  alternate ; 
}
/*网易字*/
#section1.active #SKY-slogan2{
	animation:dongsmall .5s cubic-bezier(0.43, 0.78, 0.29, 1.2) 1.2s both; 
}
@keyframes dongsmall{
	0%{
	transform:scale(1.5,1.5);
	opacity:0;
	}
	30%{
	transform:scale(0.9,0.9);
	opacity:0.6;
	}
	50%{
	transform:scale(1.1,1.1);
	opacity:0.8;
	}
	100%{
	transform:scale(1,1);
	opacity:1;
	}
}
/*logo的变化*/
#section1.active .logo{
	animation:logo .5s ease 1.7s both ;
}
#section1 .logo{
animation:logo2 .5s ease both ;
}
@keyframes logo2{
	0%{
	transform:transcateY(0);
	}
	100%{
	transform:transcateY(200px);
	}
}
/*文字*/
#section1.active .subTitle{
	animation:logo .5s ease 2.3s both ;
}
@keyframes logo{
	0%{
	opacity:0;
	}
	100%{
	opacity:1;
	}
}

%imgs2{
	background-image:url(../image/bgx.jpg);
	background-repeat:repeat-x;
}
section-1{
	background-position:0 0;
	background-color:#000;
	color:#94a7c6;
}
.section{
display:block;
	border-bottom:1px solid #fff;
	width:100%;
	position:relative;
	z-index:10;
	overflow:hidden;
	@extend %imgs2;
}
.section .inner{
	background-position:top center;
	height:850px;
	background-repeat:no-repeat;
	margin:0 auto;
	position:relative;
	min-width:1024px;
	.textArea{
	position:relative;
	width:1024px;
	margin:0 auto;
	}
}
 .star-wrapper{
	display:block;
}
#section1 .star{
	position:absolute;
	left:-288px;
	top:0;
	z-index:1;
}
 #section1 .star-2{
	left:-190px;
	z-index:2;
}
 #section1 .star-3{
	left:-195px;
	z-index:3;
}
 #section1 .subTitle{
	z-index:4;
}
#section1 .subTitle{
	width:590px;
	text-align:center;
	left:239px;
	line-height:1.8;
	color:#94a7c6;
	font-size:14px;
	font-weight:normal;
}
.subTitle{
	position:absolute;
}
.logo .mail163{
	left:325px;
}
.logo .mail126{
	left:454px;
}
.logo .mailyeah{
	left:584px;
}
img{
	border:0;
}
.logo a{
	position:absolute;
	display:block;
	top:30px;
	z-index:30;
}
.logo a:-webkit-any-link{
	color:-webkit-link;
	cursor:auto;
}
#section1 .modern .logo{
	width:375px;
	height:26px;
	left:325px;
	top:29px;
}
#section1 .modern{
	display:block;
	position:relative;
	z-index:4;
}
%immg{
	position:absolute;
	visibility:visible;
	background-repeat:no-repeat;
}
#section1 .modern img{
	@extend %immg;
}
/*字体*/
#section1 .title{
	width:554px;
	height:176px;
	left:237px;
	top:197px;
	visibility:visible;
	text-align:center;
	z-index:4;
}
.title{
	position:absolute;

}
/*动画*/

animation-breath{
animation:breath 1.5s infinite;	
}
%topic{
	position:absolute;
	left:0;
	top:0;
	z-index:30;
}
.section .topic{
	@extend %topic;
}
.section .desc{
	@extend %topic;
}
/*第二幕*/
#section2{
	color:#5c94a2;
}
#section2 .topic{
	left:188px;
	top:70px;
}
.section .topic{
	font-size:24px;
	line-height:normal;
}

.section .subTopic{
	position:absolute;
	left:0;
	top:0;
	visibility:hidden;
}
#section2 .desc{
	color:#5c94a2;
	width:639px;
	left:191px;
	font-size:16px;
	lin-height:1.9;
}
#section2 .desc-2{
	width:640px;
	height:480px;
	top:284px;
}
#section2 .modern .title{
	width:653px;
	height:44px;
	left:190px;
	top:125px;
}
 .modern .img{
	@extend %immg;
}
/*第三屏*/
#section3.active .modern .pic1{
	animation:textleft .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section3.active .modern .pic2{
	animation:textright .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section4.active .desc{
	animation:textright .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section4 .desc{
	animation:textleft1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section4.active .modern .pic3{
	animation:textleft .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section4 .modern .pic3{
	animation:textright1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section4.active .modern .pic4{
	animation:touming1 .8s cubic-bezier(0.79, 0.18, 0, 0.96).3s both;
}
#section4 .modern .pic4{
	animation:touming2 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section5.active .desc{
	animation:touming1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) .5s both;
}
#section5 .desc{
	animation:touming2 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6.active .modern .pic1{
	animation:textright .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6 .modern .pic1{
	animation:textleft1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6.active .modern .pic2{
	animation:textright .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6 .modern .pic2{
	animation:textleft1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6.active .modern .pic3{
	animation:textleft .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6 .modern .pic3{
	animation:textright1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6.active .modern .pic4{
	animation:textleft .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6 .modern .pic4{
	animation:textright1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6.active .desc-1{
	animation:textright .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6 .desc-1{
	animation:textleft1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6.active  .desc-2{
	animation:textright .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6 .desc-2{
	animation:textleft1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6.active  .desc-3{
	animation:textleft .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6  .desc-3{
	animation:textright1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6.active  .desc-4{
	animation:textleft.8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section6  .desc-4{
	animation:textright1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section7.active .modern .pic1{
	animation:textright .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section7 .modern .pic1{
	animation:textleft1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section7.active  .desc{
	animation:textleft.8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section7  .desc{
	animation:textright1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) both;
}
#section10.active .modern .pic1{
	animation:textright .8s cubic-bezier(0.79, 0.18, 0, 0.96) .5s both;
}
#section10 .modern .pic1{
	animation:textright1 .8s cubic-bezier(0.79, 0.18, 0, 0.96)  both;
}
#section10.active .modern .pic3{
	animation:textleft .8s cubic-bezier(0.79, 0.18, 0, 0.96) .5s both;
}
#section10 .modern .pic3{
	animation:textleft1 .8s cubic-bezier(0.79, 0.18, 0, 0.96)  both;
}
#section10.active .modern .pic2{
	animation:touming1 .8s cubic-bezier(0.79, 0.18, 0, 0.96) .5s both;
}
#section10 .modern .pic2{
	animation:touming2 .8s cubic-bezier(0.79, 0.18, 0, 0.96)  both;
}
#section11.active .modern .animation-breath{
	animation:touming3 .8s ease .6s both infinite alternate;
}
#section11 .modern .animation-breath{
	animation:touming4 .5s ease  both infinite  ;
}
@keyframes textleft{/*右到左*/
	0%{
  transform:translateX(400px);
  opacity:0;
	}
	100%{
  transform:translateX(0);
  opacity:1;
	}
}
@keyframes textright{/*左到右*/
	0%{
  transform:translateX(-400px);
  opacity:0;
	}
	100%{
  transform:translateX(0);
  opacity:1;
	}
}

@keyframes textleft1{/*本到左*/
	0%{
  transform:translateX(0);
  opacity:1;
	}
	100%{
  transform:translateX(-400px);
  opacity:0;
	}
}
@keyframes textright1{/*本到右*/
	0%{
  transform:translateX(0);
  opacity:1;
	}
	100%{
  transform:translateX(400px);
  opacity:0;
	}
}
@keyframes touming1{
	0%{
  opacity:0;
	}
	100%{
 opacity:1;
	}
}
@keyframes touming3{
	0%{
  opacity:0;
	}
	25%{
 opacity:0.4;
	}
	50%{
 opacity:0.5;
	}
	75%{
 opacity:0.7;
	}
	100%{
 opacity:1;
	}
}
@keyframes touming2{
	0%{
  opcity:1;
	}
	100%{
 opacity:0;
	}
}
@keyframes touming4{
	0%{
  opcity:1;
	}
	25%{
 opacity:0.7;
	}
	50%{
 opacity:0.5;
	}
	75%{
 opacity:0.4;
	}
	100%{
 opacity:0;
	}
}
#section3{
color:#748a9e;
}

#section3 .topic{
	left:256px;
}
#section3 .desc{
	color:#727f8c;
	width:510px;
	left:256px;
	font-size:16px;
	line-height:1.9;
}
#section3 .modern .title{
	width:512px;
	height:45px;
	left:423px;
	top:174px;
}
#section3 .modern .pic1{
	width:233px;
	height:250px;
	left:198px;
	top:425px;
}
#section3 .modern{
.pic2{
	width:211px;
	height:299px;
	left:839px;
	top:365px;
}
.pic3{
	width:819px;
	height:325px;
	left:103px;
	top:412px;
}	
}
/*第四屏*/
#section4{
	color:#c9c87d;
}
#section4 .topic{
	left:256px;
}
#section4 .desc{
	color:#fffde1;
	width:430px;
	top:378px;
	font-size:16px;
	line-hieght:1.9;
}
#section4 .modern .title{
	width:513px;
	height:45px;
	left:254px;
}
#section4 .modern{
.pic1{
	width:322px;
	height:142px;
	left:700px;
	z-index:5;
}
.pic2{
	width:53px;
	height:71px;
	left:605px;
	top:403px;
	z-index:4;
}	
.pic3{
	width:441px;
	height:380px;
	left:504px;
	top:470px;
	z-index:3;
}	
.pic4{
	width:892px;
	height:472px;
	left:230px;
	top:304px;
	z-index:2;
}
}
/*第五屏*/
#section5{
	color:#a0b4cb;
}
#section5 .topic{
	left:256px;
	top:138px;
}
#section5 .desc{
	color:#798fa6;
	width:510px;
	top:257px;
	left:257px;
	font-size:16px;
	line-hieght:1.9;
}
#section5 .modern .title{
	width:512px;
	height:45px;
	left:255px;
	top:188px;
}
#section5 .modern{
.pic1{
	width:1019px;
	height:248px;
	left:-10px;
	z-index:3;
}
.pic2{
	width:1156px;
	height:449px;
	left:-46px;
	top:300px;
	z-index:2;
}	
.pic3{
	width:1228px;
	height:372px;
	left:-109px;
	z-index:1;
}	
}
/*第六屏*/
#section6{
	color:#999fac;
}
#section6 .topic{
	left:254px;
	top:144px;
}
#section6 .desc{
	color:#fff;
	font-size:14px;
	line-hieght:24px;
	h4{
	font-size:23px;
	line-height:normal;
	margin-bottom:12px;
	font-weight:normal;
	}
}
#section6 {
.desc-1{
	width:208px;
	left:-3px;
	top:560px;
}
.desc-2{
	width:205px;
	left:279px;
	top:560px;
}
.desc-3{
	width:203px;
	left:562px;
	top:560px;
}
	.desc-4{
	width:205px;
	left:838px;
	top:560px;
}
}
#section6 .modern .title{
	width:511px;
	height:44px;
	left:429px;
}
#section6 .modern{
.pic1{
	width:162px;
	height:182px;
	left:159px;
	top:354px;
}
.pic2{
	width:172px;
	height:178px;
	left:456px;
	top:360px;
}	
.pic3{
	width:169px;
	height:179px;
	left:699px;
	top:359px;
}
.pic4{
	width:162px;
	height:173px;
	left:994px;
	top:364px;
}	
}
/*第七屏*/
#section7{
	color:#70877e;
}
#section7 .topic{
	left:233px;
	top:157px;
}
#section7 .desc{
	color:#5c7970;
	width:447px;
	top:435px;
	left:606px;
	font-size:16px;
	line-hieght:1.9;
	p{
	margin-bottom:17px;
	}
}

#section7 .modern .title{
	width:561px;
	height:44px;
	left:231px;
}
#section7 .modern{
.pic1{
	width:597px;
	height:284px;
	left:-4px;
	top:373px;
	z-index:2;
}
.pic2{
	width:1101px;
	height:545px;
	left:-24px;
}	

}
/*第八屏*/
#section8{
	color:#969ba0;
}
#section8 .topic{
	left:226px;
	top:159px;
}
#section8 .desc{
	color:#eaeff2;
	width:420px;
	top:365px;
	left:606px;
	font-size:16px;
	line-hieght:1.9;
	p{
	margin-bottom:27px;
	}
}

#section8 .modern .title{
	width:561px;
	height:44px;
	left:230px;
}
#section8 .modern{
.pic1{
	width:651px;
	height:231px;
	left:-57px;
	top:496px;
	z-index:2;
}
.pic2{
	width:1600px;
	height:209px;
	left:-288px;
	bottom:-850px;
	z-index:3;
}	
.pic3{
	width:699px;
	height:201px;
	left:-115px;
	z-index:1;
}
.pic4{
	width:182px;
	height:206px;
	left:304px;
	z-index:1;
}

}
/*第九屏*/
#section9{
	color:#5f7588;
}
#section9 .topic{
	left:234px;
	top:173px;
}
#section9 .desc{
	color:#566775;
	width:565px;
	top:332px;
	left:233px;
	font-size:16px;
	line-hieght:1.9;
	p{
	margin-bottom:27px;
	}
}

#section9 .modern .title{
	top:214px;
	width:561px;
	height:44px;
	left:398px;
}
#section9 .modern{
.pic1{
	width:1073px;
	height:215px;
	left:-23px;
	top:552px;
}
.pic2{
	width:164px;
	height:117px;
	left:-288px;
}	
.pic3{
	width:70px;
	height:29px;
}
.pic4{
	width:43px;
	height:26px;
}

}
/*第十屏*/
#section10{
	color:#43efca;
}
#section10 .topic{
	left:261px;
}
#section10 .desc{
	color:#fff;
	font-size:16px;
	line-height:26px;
	.bdr{
	position:absolute;
	height:68px;
	line-height:0;
	font-size:0;
	border-right:1px solid #13ab86;
	}
}
#section10 .desc-1{
	width:250px;
	left:-4px;
	top:687px;
	.bdr{
	left:290px;
	top:2px;
	}
}
#section10 .desc-2{
	width:250px;
	left:401px;
	top:687px;
}
#section10 .desc-3{
	width:250px;
	top:687px;
	.bdr{
	left:-106px;
	top:2px;
	}
}
#section10 .modern .title{
	top:174px;
	width:609px;
	height:45px;
	left:260px;
}
#section10 .modern{
.yixin{
	width:89px;
	height:99px;
	left:-108px;
	top:-46px;
}
.pic1{
	width:241px;
	height:311px;
	left:-53px;
	top:341px;
}	
.pic2{
	width:264px;
	height:303px;
	left:366px;
	top:340px;
}
.pic3{
	width:325px;
	height:311px;
	left:763px;
	top:341px;
}

}
/*第十一屏*/
#section11 .try{
display:none;
	position:absolute;
	left:384px;
	top:439px;
	line-height:0;
	font-size:0;
	z-index:50;
}
#section11 .modern{
.title-1{
	width:465px;
	height:79px;
	left:406px;
}
.title-2{
	top:334px;
	width:555px;
	height:37px;
	left:359px;
}
.btn{
	width:254px;
	height:70px;
	left:499px;
	z-index:10;
}
}
#section11 .modern{
.pic{
	width:1274px;
	height:548px;
	left:-123px;
}

}